* {
  box-sizing: border-box;
}

body {
  cursor: default;
  max-width: 700px;
  margin: 0 auto;
}

.app {
  padding: 2rem;
}

button {
  border: none;
  background: none;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  text-transform: capitalize;
}

.btnReverse {
  background: #000;
  color: #fff;
  transition: 300ms;
}

.btnReverse:hover {
  opacity: 0.85;
}

ul {
  list-style: none;
}
